<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asosiy sahifa</title>
    <style>
      .main-header__navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size:30px;
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        
      }
       .main-header__nav {
        margin: 0 10px;
        text-decoration: none;
        color: #333;
    }
    </style>
  </head>
  <body>
    <div class="main-header__navigation">
      <a class="main-header__nav" href="/literature">Adabiyotlar</a>
      <a class="main-header__nav" href="/articles">Maqolalar</a>
      <a class="main-header__nav" href="/dissertation">Dissertatsiyalar</a>
      <a class="main-header__nav" href="/monograph">Monografiyalar</a>
      <a class="main-header__nav" href="/universities">Muassasalar</a>
      <a class="main-header__nav" href="/authors">Mualliflar</a>
      <a class="main-header__nav" href="/journals">Jurnallar</a>
    </div>
  </body>
</html>
